name: create-ggj-submission-package

on: 
  workflow_dispatch:
    inputs:
      src-path:
        description: "Path to the source files of your project"
        type: string
        default: 'GlobalGameJam24'
        required: true
      press-img:
        description: "Path to the press image JPG (within the repo)"
        type: string
        default: press.jpg
        required: true
      other-path:
        description: "Path to other media. Will be ignored if empty."
        type: string
        default: ""
        required: false
      release-path:
        description: "Path to the final release. Will be ignored if empty."
        type: string
        default: ""
        required: false

jobs:
  create-file:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          path: project
      - name: Create folders 
        run: mkdir src release press other

      - name: Copy source files
        run: cp -r project/${{ inputs.src-path }}/* src
      
      - name: Copy press image
        run: cp ${{ inputs.press-img }} /press

      - name: Copy release
        if: ${{ inputs.release-path != '' }}
        run: cp -r ${{ inputs.release-path != '' }}/* release

      - name: Check if README.txt is in release/
        if: ${{ inputs.release-path != '' }}
        run: |-
          if [ -e "release/README.txt" ]; then
            echo "::warning::Your release folder does not contain a 'README.txt'!"
          fi
      - name: Warn no release/-folder
        if: ${{ ! inputs.release-path != '' }}
        run: echo "::warning::Did not add content to the release folder. Make sure to add it yourself!"

      - name: Copy other/-folder
        run: cp -r ${{ inputs.other-path != '' }}/* other
      - name: Warn no other folder
        if: ${{ ! inputs.other-path != '' }}
        run: echo "::warning::Did not add content to the other/-folder. Make sure to add it yourself!"

      - name: Download license
        run: curl "https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.txt" -o license.txt
      - name: Create ZIP archive
        uses: vimtor/action-zip@v1.1
        with:
          files: src release press other license.txt
          dest: my-ggj-submission.zip
      - name: Upload artifact (for you to download:D)
        uses: actions/upload-artifact@v4
        with:
          path: my-ggj-submission.zip
          name: my-ggj-submission
